{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'libreria/css/editarLibro.css' %}"> 
{% endblock extra_head %}

{% block content %}

<!-- Aqui se muestran los mensajes cuando se realiza una accion con el formulario -->

{% for message in messages %}
    <div id='contenedorAlertaFormulario'>
        <div id='alertaFormulario' class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>     
{% endfor %}

<!-- A continuacion se muestra un formulario para editar libros -->

<div class="contenedorInsertarLibro">
    <a id='volver' class="btn btn-primary" href="{% url 'libreria:listarLibros' %}">
        <i class="fa fa-arrow-left" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="top" title="Volver a Mostrar Libros"></i> Volver</a>
    </a>
    <div id='cardFormulario' class="card text-dark bg-light mb-3">
        <div class="card-header"><h6 id='titulo'>Editar Libro</h6></div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div id="botones">
                    <button id='submit' type='submit' class="btn btn-primary">Editar</button>
                    <button id='reset' type='reset' class="btn btn-secondary">Cancelar</button>    
                </div>                    
            </form> 
        </div>
    </div>       
</div>

{% endblock content %}