{% extends "base.html" %}
{% load static %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'libreria/css/home.css' %}"> 
{% endblock extra_head %}
  
{% block content %}

<div class="contenedorHome">

  
  <div class="formulario">
    <form method="get">
      <div class="contenedorFormulario">    
        {% for field in libro_filter.form %}
            
              <div>
                {{ field.errors }}
                <h6 class="card-subtitle mb-2 text-muted">{{ field.label_tag }} </h6>{{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>           
        {% endfor %}
        <button class="btn btn-primary" type="submit">Filtrar</button>
      </div>
    </form>
  </div>
  
  <div class="libros">
    <div class="contenedorLibros">
      {% for libro in libro_filter.qs %}
                      
              <div class="card text-dark bg-light">
                <div class="card-body" style="text-align: center;">                
                  <h4 class="card-title">{{libro.titulo}}</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Autor: {{libro.autor.nombre}}</h5>
                  <p class="card-text">Editorial: {{libro.nombre_editorial}}</p>
                  <p class="card-text">ISBN: {{libro.isbn}}</p> 
                </div> 
              </div>
      {% empty %}
      <div class="alert alert-warning" role="alert">
        <h3>No hay libros que mostrar</h3>
      </div>      
            
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
   
