{% extends "base.html" %}
{% load static %}
{% load libreria_extras %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'libreria/css/librosAdmin.css' %}"> 
{% endblock extra_head %}

<!-- A continuacion se muestran los libros, los cuales pueden se filtrados y paginados -->

{% block content %}

<!-- Formulario para filtrar libros -->

<div class="contenedorLibros">
  <div class="formulario">
    <form method="get">
      <div class="contenedorCamposFormulario">    
        {% for field in libro_filter.form %}
            
              <div>
                {{ field.errors }}
                <h6 class="card-subtitle mb-2 text-muted">{{ field.label_tag }} </h6>{{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>           
        {% endfor %}
        <button id='filtrar' class="btn btn-primary" type="submit">Filtrar</button>
      </div>
    </form>
  </div>

<!-- Tabla donde se muestran los libros libros -->

  {% if libro_page %}
  <div class="contenedorTabla">
    
      <div id='cardTabla' class="card text-dark bg-light mb-3">
        <div class="card-header">Libros</div>
        <div class="card-body">
            <table class="table table-sm">
              <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Editorial</th>
                <!-- <th>Cantidad de páginas</th>
                <th>Fecha de publicación</th> -->
                <th>ISBN</th>
                {% if request.user.is_authenticated %}
                  <th id="operaciones" colspan="4">Operaciones</th>
                {% else%}
                  <th id="operaciones">Operaciones</th>
                {% endif %}          
              </tr>
              
              {% for libro in libro_page %}

                <tr>
                  <td>{{libro.titulo}}</td>
                  <td>{{libro.autor}}</td>
                  <td>{{libro.nombre_editorial}}</td>                  
                  <td>{{libro.isbn}}</td>
                  <td><a class="btn btn-info" href="{% url 'libreria:listarReviewsLibro' libro.id %}">Reviews</a></td>
                  {% if request.user.is_authenticated %}
                    <td><a class="btn btn-info" href="{% url 'libreria:insertarReview' request.user.usuario.guid libro.id %}">Hacer review</a></td>
                  {% endif %}
                  {% if perms.libreria.administrador %}         
                    <td><a class="btn btn-primary" href="{% url 'libreria:editarLibro' libro.id %}">Editar</a></td>                    
                    <td>
                      <form method="post" action="{% url 'libreria:eliminarLibro' libro.id %}">
                        {% csrf_token %}               
                            <input type="submit" class="btn btn-danger" value="Eliminar">
                      </form>
                    </td>
                  {% endif %}
                </tr>				    
              {% endfor %}           

            </table>
            
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if libro_page.has_previous %}
                  <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode  %}">&laquo; Primera</a></li>
                  <li class="page-item"><a class="page-link" href="{% my_url libro_page.previous_page_number 'page' request.GET.urlencode  %}">Anterior</a></li>
                {% endif %}
                
                <li class="page-item disabled"><a class="page-link" href="#">Página {{libro_page.number}} de {{libro_page.paginator.num_pages}}</a></li>
                
                {% if libro_page.has_next %}
                  <li class="page-item"><a class="page-link" href="{% my_url libro_page.next_page_number 'page' request.GET.urlencode  %}">Siguiente</a></li>
                  <li class="page-item"><a class="page-link" href="{% my_url libro_page.paginator.num_pages 'page' request.GET.urlencode  %}">Última &raquo;</a></li>
                {% endif %}             
              </ul>
            </nav>
            
           <!--  <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if libro_page.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{libro_page.previous_page_number}}">Anterior</a></li>
                {% endif %}


                <li class="page-item disabled"><a class="page-link">Página {{libro_page.number}} de {{libro_page.paginator.num_pages}}</a></li>

                {% if libro_page.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{libro_page.next_page_number}}">Siguiente</a></li>
                  <li class="page-item"><a class="page-link" href="?page={{libro_page.paginator.num_pages}}">Última &raquo;</a></li>
                {% endif %}
                </ul>
            </nav> -->

            <!--  <div>
              <span class="step-links">
                {% if libro_page.has_previous %}
                  <a href="{% my_url 1 'page' request.GET.urlencode  %}">&laquo; First</a>
                  <a href="{% my_url libro_page.previous_page_number 'page' request.GET.urlencode  %}">First</a>
                {% endif %}
          
                <span class="current">
                  Page {{libro_page.number}} of {{libro_page.paginator.num_pages}}
                </span>
          
                {% if libro_page.has_next %}
                  <a href="{% my_url libro_page.next_page_number 'page' request.GET.urlencode  %}"> Next</a>
                  <a href="{% my_url libro_page.next_page_number.paginator.num_pages 'page' request.GET.urlencode  %}">&raquo; Last</a>
                {% endif %}
              </span>
            </div> -->
            
          <!--   <div id='paginador'>
              <span class="step-links">
                {% if libro_page.has_previous %}
                  <a href="?page=1">&laquo; First</a>
                  <a href="?page={{libro_page.previous_page_number}}">Previous</a>
                {% endif %}
          
                <span class="current">
                  Page {{libro_page.number}} of {{libro_page.paginator.num_pages}}
                </span>
          
                {% if libro_page.has_next %}
                  <a href="?page={{libro_page.next_page_number}}"> Next</a>
                  <a href="?page={{libro_page.paginator.num_pages}}">&raquo; Last</a>
                {% endif %}
              </span>
            </div>  --> 
          </div>
      </div> 
  </div>
  {% else %}
  <div id='noHayLibros' class="alert alert-warning" role="alert">
    <h3>No hay libros que mostrar</h3>
  </div>  
  {% endif %}


</div>

{% endblock content %}