{% extends "base.html" %}
{% load static %}
{% load libreria_extras %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'libreria/css/listarAutores.css' %}"> 
{% endblock extra_head %}

<!-- A continuacion se muestran los autores, los cuales pueden se filtrados y paginados -->

{% block content %}

<!-- Formulario para filtrar autores -->

<div class="contenedorAutores">
    <div class="formulario">
      <form method="get">
        <div class="contenedorCamposFormulario">    
          {% for field in autor_filter.form %}
              
                <div>
                  {{ field.errors }}
                  <h6 class="card-subtitle mb-2 text-muted">{{ field.label_tag }} </h6>{{ field }}
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </div>           
          {% endfor %}

          <!-- <input type="number" class="camposFormularioExtras form-control" min="1" step="1" name="numeroAutores" placeholder="Autores por pagina">
          <input type="number" class="camposFormularioExtras form-control" min="1" step="1" name="numeroDePagina" placeholder="Número de página"> -->
          <button id='filtrar' class="camposFormularioExtras btn btn-primary" type="submit">Filtrar</button>
        </div>
      </form>
    </div>

<!-- Mostrar tabla de autores -->
  
  {% if autor_page %}
  <div class="contenedorTabla">
    
      <div id='cardTabla' class="card text-dark bg-light mb-3">
        <div class="card-header">Autores</div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Nombre</th>
                        <th>Nacionalidad</th>
                        <th>Fecha de nacimiento</th>
                        <!-- <th>Cantidad de usuarios suscritos</th>
                        <th>Fecha de publicación</th>
                        <th>ISBN</th> --> 
                          
                          <th id="operaciones">Operaciones</th>
                       
                    </tr>
                
                {% for autor in autor_page %}

                    <tr>
                        <td>{{autor.nombre}}</td>
                        <td>{{autor.nacionalidad}}</td>
                        <td>{{autor.fecha_nacimiento}}</td>
                        <td>
                        {% if perms.libreria.administrador %}
                        <div class='botonesOperacionesAdmin'>
                        {% else %}
                        <div class='botonesOperacionesNoAdmin'>
                        {% endif %}

                        <!-- <td class='botonesOperacionesNoAdmin'> -->
                            <a class="btn btn-info" href="{% url 'libreria:detallesAutor' autor.id %}">Detalles</a>
                            
                              {% if user.usuario in autor.get_usuarios_suscritos %}
                                <a class="btn btn-dark" href="{% url 'libreria:eliminarSuscripcionAutor' autor.id %}">desinscribirse</a>
                              {% else %}
                                  <a class="btn btn-success" href="{% url 'libreria:suscribirseAAutor' autor.id %}">Suscribirse</a>
                              {% endif %}                             
                           
                            {% if perms.libreria.administrador %} 
                              <a class="btn btn-primary" href="{% url 'libreria:editarAutor' autor.id %}">Editar</a> 
                              <div>                       
                                <form method="post" action="{% url 'libreria:eliminarAutor' autor.id %}">
                                {% csrf_token %}               
                                    <input type="submit" class="btn btn-danger" value="Eliminar">
                                </form>
                              </div>
                            {% endif %}
                          </td>
                        </div>
                    </tr>				    
                {% endfor %}           

                </table>
                
                <!-- Paginador -->
                
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    {% if autor_page.has_previous %}
                      <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode  %}">&laquo; Primera</a></li>
                      <li class="page-item"><a class="page-link" href="{% my_url autor_page.previous_page_number 'page' request.GET.urlencode  %}">Anterior</a></li>
                    {% endif %}
                    
                    <li class="page-item disabled"><a class="page-link" href="#">Página {{autor_page.number}} de {{autor_page.paginator.num_pages}}</a></li>
                    
                    {% if autor_page.has_next %}
                      <li class="page-item"><a class="page-link" href="{% my_url autor_page.next_page_number 'page' request.GET.urlencode  %}">Siguiente</a></li>
                      <li class="page-item"><a class="page-link" href="{% my_url autor_page.paginator.num_pages 'page' request.GET.urlencode  %}">Última &raquo;</a></li>
                    {% endif %}             
                  </ul>
                </nav>
            </div>
        </div> 
  </div>
  {% else %}
  <div id='noHayAutores' class="alert alert-warning" role="alert">
    <h3>No hay autores que mostrar</h3>
  </div>  
  {% endif %}
</div>


{% endblock content %}