{% extends "base.html" %}
{% load static %}
{% load libreria_extras %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'libreria/css/listarUsuarios.css' %}"> 
{% endblock extra_head %}

<!-- A continuacion se muestran los usuarios, los cuales pueden se filtrados y paginados -->

{% block content %}
    <div class="contenedorUsuarios">
        <div class="formulario">
            <form method="get">
              <div class="contenedorCamposFormulario">    
                {% for field in usuario_filter.form %}
                    
                      <div>
                        {{ field.errors }}
                        <h6 class="card-subtitle mb-2 text-muted">{{ field.label_tag }} </h6>{{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                      </div>           
                {% endfor %}      
                <button id='filtrar' class="camposFormularioExtras btn btn-primary" type="submit">Filtrar</button>
              </div>
            </form>
        </div>

        {% if usuario_page %}
            <div class="contenedorTabla">    
                <div id='cardTabla' class="card text-dark bg-light mb-3">
                    <div class="card-header">Usuarios</div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <tr>                      
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Fecha de registro</th>
                                    <th>autores suscritos</th>
                                    <th id="operaciones">Operaciones</th>            
                                </tr>
                            
                            {% for usuario in usuario_page %}
            
                                <tr>
                                    <td class='contenedorImagen'>
                                        <img style="display:block;" width="100%" height="100%" src="{{ usuario.imagen.url }}">
                                    </td>
                                    <td>{{usuario.user.get_short_name}}</td> 
                                    <td>{{usuario.user.username}}</td>                             
                                    <td>{{usuario.user.email}}</td>
                                    
                                    <td>{{usuario.fecha_registro}}</td>
                                    <td>{{usuario.cantidad_autores_suscritos}}</td>
                                    <td class='botonesOperaciones'>
                                        <a class="btn btn-info" href="#">Detalles</a>
                                        <a class="btn btn-primary" href="#">Editar</a>                        
                                        <form method="post" action="#">
                                        {% csrf_token %}               
                                            <input type="submit" class="btn btn-danger" value="Eliminar">
                                        </form>
                                    </td>
                                </tr>				    
                            {% endfor %}           
            
                            </table>
                            
                            <!-- Paginador -->
                            
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                {% if usuario_page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="{% my_url 1 'page' request.GET.urlencode  %}">&laquo; Primera</a></li>
                                    <li class="page-item"><a class="page-link" href="{% my_url usuario_page.previous_page_number 'page' request.GET.urlencode  %}">Anterior</a></li>
                                {% endif %}
                                
                                <li class="page-item disabled"><a class="page-link" href="#">Página {{usuario_page.number}} de {{usuario_page.paginator.num_pages}}</a></li>
                                
                                {% if usuario_page.has_next %}
                                    <li class="page-item"><a class="page-link" href="{% my_url usuario_page.next_page_number 'page' request.GET.urlencode  %}">Siguiente</a></li>
                                    <li class="page-item"><a class="page-link" href="{% my_url usuario_page.paginator.num_pages 'page' request.GET.urlencode  %}">Última &raquo;</a></li>
                                {% endif %}             
                                </ul>
                            </nav>
                        </div>
                    </div> 
            </div>
        {% else %}
            <div id='noHayUsuarios' class="alert alert-warning" role="alert">
                <h3>No hay usuarios que mostrar</h3>
            </div>  
        {% endif %} 
    </div>
{% endblock content %}