*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e7ee;
    min-height: 100vh !important;
    margin: 0;  
    display: grid;    
    grid-template-rows: 0.5fr  auto 0.5fr; 
} 

.contenedor{
    min-height: 40vh;
    display: grid;    
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.contenedor .header{
    background: url("../images/chica.jpg") no-repeat;
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
}

.contenedor .navbar{
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 6;
   grid-row-end: 7;
}

/* Manejando la imagenen para varios tamanos de pantallas */

@media (max-width: 730px) {
    .contenedor .header{
        background: url("../images/chica_recortada.png") no-repeat;
        background-size: cover;
        grid-row-start: 1;
        grid-row-end: 6;
    
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

@media (max-width: 420px) {
    .contenedor .header{
        background: url("../images/chica_recortada_pequena.png") no-repeat;
        background-size: cover;
        grid-row-start: 1;
        grid-row-end: 6;
    
        grid-column-start: 1;
        grid-column-end: 4;
    }
}
