.contenedorLibros{
    height: 50vh;
    margin: 0.5%;
    display: grid;
    row-gap: 5px;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: center;   
}

.formulario{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;    
    grid-row-end: 2;

    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

form{
    grid-column-start: 1;
    grid-column-end: -1;
}

 .contenedorCamposFormulario{
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

#filtrar{
    align-self: end;
}

.contenedorTabla{
    grid-column-start: 2;
    grid-column-end: 8; 

    display: grid;
    align-self: start;
    grid-template-columns: repeat(8, 1fr);   
}

#cardTabla{
    grid-column-start: 1;
    grid-column-end: 9;    
}

.card-header{
    text-align: center;
}

#noHayLibros{
    grid-column-start: 2;
    grid-column-end: 8;

    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;
}

#paginador{
    display: flex;
    justify-content: center;    
}

ul.pagination{
    justify-content: center; 
}