.contenedorUsuarios{
    margin: 0.5%;
    display: grid;
    row-gap: 5px;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: center;   
}

.formulario{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;    
    grid-row-end: 2;

    width: 100%;
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

form{
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedorCamposFormulario{
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
}

.camposFormularioExtras{
    align-self: end;
}

.contenedorTabla{
    grid-column-start: 1;
    grid-column-end: -1;

    grid-row-start:2;
    grid-row-end:-1;

    display: grid;
    align-self: start;
    grid-template-columns: repeat(8, 1fr);   
}

#cardTabla{
    grid-column-start: 1;
    grid-column-end: -1; 
    
    grid-row-start: 2;
    grid-row-end: -1;
}

.card-header{
    text-align: center;
}

#noHayUsuarios{
    grid-column-start: 2;
    grid-column-end: 8;

    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;
}

.contenedorImagen{
    height: 100px;
    width: 100px;
}

img{
    width: 100%;
    height: 100%
}

ul.pagination{
    justify-content: center; 
}

.botonesOperaciones{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

#eliminarFormulario{
    display: inline;
}

/* Al tener la ventana una tamano menor o igual a 890px se pone el filtro vertical */

@media (max-width: 890px) {
    .contenedorUsuarios{ 
        column-gap: 5px;      
        align-items: start;
        grid-template-rows: repeat(2, 1fr);          
    }   

    .formulario{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2; 
    }
    
    .contenedorCamposFormulario{
        grid-template-columns:  1fr;    
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Al tener la ventana una tamano menor o igual a 1230px se cambia el tamano de la tabla y se pone tipo regilla */

@media (max-width: 1230px) {   

    .contenedorTabla{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    table{
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 900px) {   
    table{        
        justify-content: start;
    }
}
