.fa-star{
    color: orange
}

.contenedorReview{
    margin: 0.5%;
    display: grid;
    row-gap: 5px;
    grid-template-columns:repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
    align-items: center; 
}

.formulario{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2; 
}

#formularioFiltro{
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;   
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

#filtrar{
    align-self: end;
}

.contenedorTabla{
    grid-column-start: 2;
    grid-column-end: 10;

    grid-row-start:2;
    grid-row-end:-1;

    display: grid;
    align-self: start;
    grid-template-columns: repeat(8, 1fr);   
}

#cardTabla{
    grid-column-start: 1;
    grid-column-end: -1; 
    
    grid-row-start: 2;
    grid-row-end: -1;
}

.card-header{
    text-align: center;
}

ul.pagination{
    justify-content: center; 
}

#noHayReviews{
    grid-column-start: 2;
    grid-column-end: 10;

    grid-row-start: 3;
    grid-row-end: 4;

    text-align: center;
}

#eliminarFormulario{
    display: inline;
}

/* Al tener la ventana una tamano menor o igual a 878px se pone el filtro vertical */

@media (max-width: 878px) {
    .contenedorReview{ 
        column-gap: 5px;      
        align-items: start;
        grid-template-rows: repeat(2, 1fr);          
    }

    #formularioFiltro{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
    }

    .formulario{
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 1;
        grid-row-end: 2; 
    }   
}

/* Al tener la ventana una tamano menor o igual a 1038px se cambia el tamano de la tabla y se pone tipo regilla */

@media (max-width: 1038px) {   

    .contenedorTabla{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    table{
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 780px) {   
    table{        
        justify-content: start;
    }
}