.contenedorLibros{
    margin: 0.5%;
    display: grid;
    row-gap: 5px;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);    
    align-items: center;   
}

.formulario{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;    
    grid-row-end: 2;

    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
}

form{
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedorCamposFormulario{
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-gap: 10px;
    justify-items: stretch;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);
}

#filtrar{
    align-self: end;
}

.contenedorTabla{
    grid-column-start: 2;
    grid-column-end: 12;

    grid-row-start: 2;    
    grid-row-end: -1;

    display: grid;
    align-self: start;
    grid-template-columns: repeat(8, 1fr);   
}

#cardTabla{
    grid-column-start: 1;
    grid-column-end: 9;    
}

.card-header{
    text-align: center;
}

#noHayLibros{
    grid-column-start: 4;
    grid-column-end: 10;

    grid-row-start: 2;
    grid-row-end: 3;

    text-align: center;
}

#paginador{
    display: flex;
    justify-content: center;    
}

ul.pagination{
    justify-content: center; 
}

#eliminarFormulario{
    display: inline;
}

/* Al tener la ventana una tamano menor o igual a 1030px se pone el filtro vertical */

@media (max-width: 1030px) {
    .contenedorCamposFormulario{        
        align-items: center;
        grid-gap: 5px;
        grid-template-columns:1fr;
        grid-template-rows:repeat(8, 1fr);
    }

    .contenedorLibros{       
        align-items: start;
        grid-template-rows: repeat(2, 1fr);          
    }
  
}

/* Al tener la ventana una tamano menor o igual a 1030px se cambia el tamano de la tabla y se pone tipo regilla */

@media (max-width: 1030px) {   

    .contenedorTabla{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    table{
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 775px) {   
    table{        
        justify-content: start;
    }
}